<div class="col-md-3 side-panel">
	<div class="col-md-12">
	
	    <header>Navigation</header>
			<div class="page no-padding">
				
                
                
                <div class="dropdown">
                      <button style="width:100%" class="btn btn-default btn-xs dropdown-toggle"   data-toggle="dropdown" >Session<p  id="caret" class="caret"></p>
                      </button>
                      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                           <li ng-repeat="session in sessions"> 
                              <a>{{session}}</a>
                           </li>
                           <li role="separator" class="divider"></li>
                           <li><a >Créer session </a></li>
                      </ul>
                </div>

                
                <div class="dropdown">
                      <button style="width:100%" class="btn btn-default btn-xs dropdown-toggle"   data-toggle="dropdown" >Marché<p  id="caret" class="caret"></p>
                      </button>
                      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                          <li ng-repeat="market in markets">
                          <a >{{market.name}}</a>
                    </li>   
                           <li role="separator" class="divider"></li>
                           <li><a >Créer Marché </a></li>
                      </ul>
                </div>
                
			</div>
		</div>
</div>

<div class="col-md-9" >
    <div class="row">
    <header>Nouvelle Session</header>
    <div class="col-md-12 text-center page">
        <form>
            <fieldset class="form-group">
                    <label class="col-md-4 control-label">Nom de la session: </label>
                    <div class="col-md-4">
                        <input class="form-control input-md" ng-model="session.name" type="text" placeholder="Ex:ALMA2015"/>
                    </div>
            </fieldset>
            <fieldset class="form-group">
                <label class="col-md-4 control-label">Marché: </label>
                <div class="col-md-4">
                    <select ng-model="session.market" ng-init="session.market = markets[0]" class="form-control input-md" ng-options="market.name for market in markets "></select>
                </div>
            </fieldset>
            
            <fieldset class="form-group">
                <label class="col-md-4 control-label">Années: </label>
                <div class="col-md-4">
                    <select ng-model="session.years" class="form-control input-md" >
                        <option  value="1" selected="selected">1</option>
                        <option  value="2">2</option>
                        <option  value="3">3</option>
                        <option  value="4">4</option>
                        <option  value="5">5</option>
                    </select>
                </div>
            </fieldset>
            <fieldset class="form-group">
                <div class="col-md-12"><label class="col-md-4 control-label">Ajouter des participants: </label></div>
                <div class="col-md-7 col-md-offset-2 ">
                    <textarea ng-model="emails" class="form-control input-md" placeholder="john.doe@gmail.com,..."></textarea>
                </div>
            </fieldset>
            <fieldset class="form-group">
                <div class="col-md-7 col-md-offset-2">
                    <div class="float-element" ng-repeat="p in session.participants">{{p}}<i class=" glyphicon glyphicon-remove" ng-click="removeElement($index)"></i></div>
                    <span ng-show="session.participants.length==0">Vous devez ajouter des participants avant de continuer...</span>
                </div>
            </fieldset>
            <div class="col-md-1 col-md-offset-7 ">
                <button ng-click="createSession()">Valider</button>
            </div>
        </form>
    </div>
        </div>
</div>
	
	
