<div class="col-md-3 side-panel">
	<div class="row">
		<div class="col-md-12">
			<header>Overview</header>
			<div class="page">
				<img class="user-icon" src="images/account_circle.png"/> 
				<p class="user-name">{{dashboard.userName}}</p>
				<p class="no-margin">CA actuel : {{dashboard.ca}}€</p>
				<p class="no-margin">Bénéfice : {{dashboard.profit}}€</p>
				<h3>Reminder</h3>
				<p>Année N°{{dashboard.yearNumber}}</p>
				<p  class="session-end">
					<span>Fin de session dans : </span>
					<br>
					<span class="time-left no-margin">{{dashboard.getRemainTime()}}</span>
				</p>
			</div> 
		</div>
	</div>
</div>


<div class="col-md-9" >
	<div class="row">
		<div class="col-md-12">
			<header>Décision</header>
			<div class="page col-md-12">
                <h4>Année 4</h4>
                <div class="col-md-10 col-md-offset-1">
                    <fieldset class="form-group">
                        <div class="col-md-4 col-md-offset-1 control-label"><label>Prime: </label></div>
                        <div class="col-md-4"><input class="form-control input-md" ng-model="session.name" type="number" placeholder="Ex:ALMA2015"/></div>
                    </fieldset>
                    <fieldset class="form-group">
                        <div class="col-md-4 col-md-offset-1 control-label"><label>Délai paiment: </label></div>
                        <div class="col-md-4"><input class="form-control input-md" ng-model="session.name" type="number" placeholder="Ex:ALMA2015"/></div>
                    </fieldset>
                    <fieldset class="form-group">
                        <div class="col-md-4 col-md-offset-1 control-label"><label>Nombre machines: </label></div>
                        <div class="col-md-4">4</div>
                    </fieldset>
                    <fieldset class="form-group">
                        <div class="col-md-4 col-md-offset-1 control-label"><label>Durée du leasing: </label></div>
                        <div class="col-md-4"><input class="form-control input-md" ng-model="session.name" type="number" placeholder="Ex:ALMA2015"/></div>
                    </fieldset>
                    <fieldset class="form-group">
                        <div class="col-md-4 col-md-offset-1 control-label"><label>Montant du leasing: </label></div>
                        <div class="col-md-4">300 €</div>
                    </fieldset>
                    <fieldset class="form-group">
                        <div class="col-md-4 col-md-offset-1 control-label"><label>Coût info. marketing: </label></div>
                        <div class="col-md-4"><input class="form-control input-md" ng-model="session.name" type="number" placeholder="Ex:ALMA2015"/></div>
                    </fieldset>
                    <div class="panel panel-default">
                        <div ng-repeat="product in products">
                            <div class="panel-heading" ng-class="{'selected':selected==product.name}" ng-click="select(product.name)">
                                {{product.name}}
                            </div>
                            <div class="panel-body" ng-show="selected==product.name" >
                                <fieldset class="form-group">
                                    <div class="col-md-4 col-md-offset-1 control-label"><label>Prix de vente TTC (£) </label></div>
                                    <div class="col-md-4"><input class="form-control input-md" ng-model="product.priceTTC" type="number" placeholder="Ex:50£"/></div>
                                </fieldset>
                                <fieldset class="form-group">
                                    <div class="col-md-4 col-md-offset-1 control-label"><label>Prix de vente HT (€): </label></div>
                                    <div class="col-md-4"><input class="form-control input-md" ng-model="product.priceHT" type="number" placeholder="Ex:40€"/></div>
                                </fieldset>
                                <fieldset class="form-group">
                                    <div class="col-md-4 col-md-offset-1 control-label"><label>Quantité proposée: </label></div>
                                    <div class="col-md-4"><input class="form-control input-md" ng-model="product.quantity" type="number" placeholder="Ex:1500"/></div>
                                </fieldset>
                                <fieldset class="form-group">
                                    <div class="col-md-4 col-md-offset-1 control-label"><label>Publicité HT (€): </label></div>
                                    <div class="col-md-4"><input class="form-control input-md" ng-model="product.ads" type="number" placeholder="Ex:10000€"/></div>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                    <button ng-click="sendDecision()" class="btn-action pull-right">Valider</button>
                </div>
			</div> 
		</div>
	</div>
</div>