<div class="col-md-3 side-panel">
	<div class="row">
		<div class="col-md-12">
			<header></header>
			<div class="page">
				
			</div>
		</div>
	</div>
</div>

<div class="col-md-9" >
	<header>Marché</header>
	<div class="row page">
		<div class="col-md-3 ">
		</div>
		<div class="col-md-6 page-part text-center">
			<div class="page text-center">
				<header>Stocks</header>
				<div class="col-md-4 sub-page">
					<div class="row green-odd-title">
						<p> Sans marque </p>
					</div>
					<div class="row white">
						<p> {{market.stock.withoutBrand }} </p>
					</div>
				</div>
				
				<div class="col-md-4 sub-page">
					<div class="row row green-even-title">
						<p> Moyenne gamme </p>
					</div>
					<div class="row white">
						<p> {{market.stock.middleOfTheRange}} </p>
					</div>
				</div>
				
				<div class="col-md-4 sub-page">
					<div class="row row green-odd-title">
						<p> Haute gamme </p>
					</div>
					<div class="row white">
						<p> {{market.stock.topOfTheRange}} </p>
					</div>
				</div>
			</div>
		</div>
	
		<div class="col-md-6 page-part"  ng-repeat="team in market.teams | orderBy:'teamName'">
			<div class="page text-center">
				<header>{{team.teamName}}</header>
				
				<div class="col-md-4 sub-page">
					<div class="row yellow-odd-title">
						<p> S.marque </p>
					</div>
					<div class="row white">
						<p> {{team.withoutBrand}} € </p>
					</div>
				</div>
				
				<div class="col-md-4 sub-page">
					<div class="row yellow-even-title">
						<p> M.gamme </p>
					</div>
					<div class="row white">
						<p> {{team.middleOfTheRange}} € </p>
					</div>
				</div>
				
				<div class="col-md-4 sub-page">
					<div class="row yellow-odd-title">
						<p> H.gamme </p>
					</div>
					<div class="row white">
						<p> {{team.topOfTheRange}} € </p>
					</div>
				</div>
			</div>

		</div>
		
	</div>
</div>
	
	
