<div class="col-md-3 side-panel">
	<div class="row">
		<div class="col-md-12">
			<header></header>
			<div class="page">
			</div> 
		</div>
	</div>
</div>

<div class="col-md-9" >
	<header>Messages</header>
	<div class="row page">
		<div class="message-scroll text-center">
			<div style="width:100%">
				<div class="row" ng-repeat="message in messages.messages">
					<div class="col-md-1 no-margin no-padding">
						<img class="pull-right" src="images/account_circle.png" ng-show="message.author == 'team'"/>
					</div>
				
					<div class="col-md-10 adjust-message">
						<p class="text-left {{message.author}}">
							{{message.message}} 
						</p>
					</div>
					
					<div class="col-md-1 no-margin no-padding">
						<img class="pull-left" src="images/account_circle.png" ng-show="message.author == 'admin'"/>
					</div>
				</div>				
			</div>
		</div>
		
		<form class="form-horizontal inscription" role="form">
  			<div class="form-group no-margin">
    			<div class="col-lg-10">
    				<input class="form-control no-padding" id="question" placeholder="Posez votre question">
    			</div>
    			<div class="col-lg-2">
 					<button ng-click="messages.create()" class="btn-action">Envoyer</button>
    			</div>    			
  			</div>
  
		</form>
	</div>
</div>