<div class="col-md-3 side-panel">
	<div class="row">
		<div class="col-md-12">
			<header>Informations</header>
			<div class="page">
				<p>
					Si vous voulez contacter votre administrateur pour acheter une machine, n'oubliez pas que vous devez argumenter et justifier vos, sans quoi l'achat d'une nouvelle machine ne sera pas possible.
				</p>
			</div> 
		</div>
	</div>
</div>

<div class="col-md-9" >
	<header>Contact</header>
	<div class="row page text-center">
		<p>
			Pour contacter votre administrateur vous pouvez :<br>
			Lui envoyer à l'adresse : <a href="mailto:monsieur.machin@gmail.com">monsieur.machin@gmail.com </a> <br>
			Ou l'appeller au numéro : 06.66.00.66.60
		</p>		
	</div>
</div>