<div class="col-md-3 side-panel">
		
	<div class="row">
		<div class="col-md-12">
			<header>Aide</header>
			<div class="page">
				<p>
					Veuillez entrer vos informations personnelles, vous pourrez ensuite créer une team et/ou en rejoindre une.
					<br><br>
					NB : Si vous créez une team, n'oubliez pas de vous y ajouter
				</p>
			</div> 
		</div>
	</div>
	
</div>

<div class="col-md-9" >
	<div class="row">
		<div class="col-md-12" ng-hide="signup.showTeam">
			<header>Inscription</header>
			<div class="page text-center">
				<img class="info-icon pull-left" src="images/info.png"/> 
				<p >
					Vous avez été invité à la session<br>
					MarkChamp ALMA2015 <br>
					Merci de remplir les champs ci-dessous<br>
					pour accéder aux équipes

				</p>
				
				<div class="row">
					<div class="col-md-2">
					</div>
			
					<div class="col-md-6">
						<form class="form-horizontal inscription" role="form">
				  			<div class="form-group">
				  				<label class="col-lg-3 control-label" for="email">Email : </label>
				    			<div class="col-lg-9">
				    				<input class="form-control" id="email" ng-model="signup.email" placeholder="JohnDoe@gmail.com">
				    			</div>
				  			</div>
				  
				  			<div class="form-group">
				  				<label class="col-lg-3 control-label" for="prenom">Prénom : </label>
						    	<div class="col-lg-9">
						      		<input class="form-control" id="prenom" ng-model="signup.prenom" placeholder="John">
						    	</div>
				  			</div>
				  			
				  			<div class="form-group">
				  				<label class="col-lg-3 control-label" for="nom">Nom : </label>
						    	<div class="col-lg-9">
						    		<input class="form-control" id="nom" ng-model="signup.nom" placeholder="Doe">
						    	</div>
				  			</div>
				  			
				  			<div class="form-group">
								<label class="col-lg-3 control-label" for="etablissement">Etablissement : </label>
				  			   	<div class="col-lg-9">
				  			   		<input class="form-control" id="etablissement" ng-model="signup.etablissement" placeholder="Université de Nantes">
						    	</div>
				  			</div>
						</form>
						<span class="error label-danger" ng-show="errorSignup">Veuillez remplir tous les champs disponibles pour pouvoir accéder aux équipes</span>
						<div>
							<button ng-click="signup.inscription()" class="btn-action pull-right">Valider</button>	
						</div>
					</div>
				</div>
			</div>		
		</div>
	
		<div class="col-md-12" ng-show="signup.showTeam">
			<header>Equipes</header>
			<div class="page col-md-12">
				<div class="col-md-6">
                    <h4>Choisir une équipe:</h4>
                    <div class="col-md-12 list-container">
                        <ul>
                            <li ng-repeat="team in signup.teams" ng-click="signup.select(team)" ng-class="{'selected':signup.isSelected(team)}">{{team.name}}</li>
                        </ul>
                    </div>
                   	<span class="error label-danger text-center" ng-show="errorValidation">Une erreur est survenue, vérifiez que vous avez bien choisie une équipe</span>
                    <br>
                    <button ng-click="signup.selectTeam()">Valider</button>
                </div>
				<div class="col-md-6">
                    <h4>Créer une équipe:</h4>
                    <fieldset class="form-group">
                        <label class=" control-label">Nom de l'équipe: </label>
                       
                            <input class="form-control input-md" ng-model="signup.teamName" type="text" placeholder="Ex:PoneyRocks"/>
                        	<span class="error label-danger" ng-show="errorTeamName">Le nom que vous avez mis n'est pas valide, veuillez en entrer un nouveau</span>
                    </fieldset>
                   <!--
                    <fieldset class="form-group">
                        <label class=" control-label">Nombre de places: </label>
                            <select ng-model="teamChoice.team.places" class="form-control input-md" >
                                <option  value="1" selected="selected">1 place</option>
                                <option  value="2">2 places</option>
                                <option  value="3">3 places</option>
                                <option  value="4">4 places</option>
                                <option  value="5">5 places</option>
                            </select>
                    </fieldset>
                    -->
                    <button class="btn-action "ng-click="signup.createTeam()">Créer</button>
                </div>
			</div> 
		</div>
	</div>
</div>
	
	
