<div class="col-md-3 side-panel">
		
	<div class="row">
		<div class="col-md-12">
			<header>Aide</header>
			<div class="page">
			</div> 
		</div>
	</div>
	
</div>

<div class="col-md-9" >
	<div class="row">
		<div class="col-md-12">
			<header>Inscription</header>
			<div class="page text-center">
				<img class="info-icon pull-left" src="images/info.png"/> 
				<p >
					Vous avez été invité à la session<br>
					MarkChamp ALMA2015 <br>
					Merci de remplir les champs ci-dessous<br>
					pour accéder aux équipes
				</p>
				
				<div class="row">
					<div class="col-md-2">
					</div>
			
					<div class="col-md-6">
						<form class="form-horizontal inscription" role="form">
				  			<div class="form-group">
				  				<label class="col-lg-3 control-label" for="email">Email : </label>
				    			<div class="col-lg-9">
				    				<input class="form-control" type="email" id="email" placeholder="JohnDoe@gmail.com">
				    			</div>
				  			</div>
				  
				  			<div class="form-group">
				  				<label class="col-lg-3 control-label" for="prenom">Prénom : </label>
						    	<div class="col-lg-9">
						      		<input class="form-control" id="prenom" placeholder="John">
						    	</div>
				  			</div>
				  			
				  			<div class="form-group">
				  				<label class="col-lg-3 control-label" for="nom">Nom : </label>
						    	<div class="col-lg-9">
						    		<input class="form-control" id="nom" placeholder="Doe">
						    	</div>
				  			</div>
				  			
				  			<div class="form-group">
								<label class="col-lg-3 control-label" for="etablissement">Etablissement : </label>
				  			   	<div class="col-lg-9">
				  			   		<input class="form-control" id="etablissement" placeholder="Université de Nantes">
						    	</div>
				  			</div>
						</form>
						<div>
							<button ng-click="signup.inscription()" class="btn-action pull-right">Valider</button>	
						</div>
					</div>
				</div>
			</div>		
		</div>
	</div>
</div>
	
	
