<div class="col-md-3 side-panel">	
	<div class="row">
		<div class="col-md-12">
			<header>Aide</header>
			<div class="page">
                
			</div> 
		</div>
	</div>
</div>


<div class="col-md-9" >
	<div class="row">
		<div class="col-md-12">
			<header>Equipes</header>
			<div class="page col-md-12">
				<div class="col-md-6">
                    <h4>Choisir une équipe:</h4>
                    <fieldset class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon" id="search-addon"><i class="glyphicon glyphicon-search"></i></span>
                            <input type="text" class="form-control" placeholder="Rechercher" aria-describedby="search-addon" ng-model="search">

                        </div>
                    </fieldset>
                    <div class="col-md-12 list-container">
                        <ul>
                            <li ng-repeat="team in teams" ng-click="select(team)" ng-class="{'selected':selected==team}">{{team}}</li>
                        </ul>
                    </div>
                    <button ng-click="selectTeam()">Valider</button>
                </div>
				<div class="col-md-6">
                    <h4>Créer une équipe:</h4>
                    <fieldset class="form-group">
                        <label class=" control-label">Nom de l'équipe: </label>
                       
                            <input class="form-control input-md" ng-model="team.name" type="text" placeholder="Ex:PoneyRocks"/>
                        
                    </fieldset>
                    <fieldset class="form-group">
                        <label class=" control-label">Nombre de places: </label>
                            <select ng-model="team.places" class="form-control input-md" >
                                <option  value="1" selected="selected">1 place</option>
                                <option  value="2">2 places</option>
                                <option  value="3">3 places</option>
                                <option  value="4">4 places</option>
                                <option  value="5">5 places</option>
                            </select>
                    </fieldset>
                    <button class="btn-action "ng-click="createTeam()">Créer</button>
                </div>
			</div> 
		</div>
	</div>
</div>