	<div class="col-md-3">
			
		<div class="row">
			<div class="col-md-12">
				<h2 class="text-center">Overview</h2>
				<div class="text-center page">
					<img class="user-icon" src="images/account_circle.png"/> 
					<p class="user-name">{{dashboard.userName}}</p>
					<p class="no-margin">CA actuel : {{dashboard.ca}}€</p>
					<p class="no-margin">Bénéfice : {{dashboard.profit}}€</p>
					<h3>Reminder</h3>
					<p>Année N°{{dashboard.yearNumber}}</p>
					<p  class="session-end">
						<span>Fin de session dans : </span>
						<br>
						<span class="no-margin"><strong>{{dashboard.getRemainTime()}}</strong></span>
					</p>
				</div> 
			</div>
		</div>
		
	</div>

	<div class="col-md-9" >
		<div class="row">
			<div class="col-md-12">
				<div class="page no-title well clearfix">
						<p class="vertical-alignement">Compléter la feuille de décision</p>				
						<button class="btn pull-right access-button" ng-click="accessToDecisionSheet();">Accéder</button>

				</div>
				
			</div>
		</div>
	</div>
	
	
