<div class="col-md-3 side-panel">
    <div class="row">
        <div class="col-md-12">
            <header>Login</header>
            <div class="page col-md-12">
                <fieldset class="form-group">
                    <p>Identifiant:</p>
                    <div class="col-md-12">
                        <input type="text" class="form-control input-md" placeholder="Identifiant" ng-model="login" />
                    </div>
                </fieldset>
                <fieldset class="form-group">
                    <p>Mot de passe:</p>
                    <div class="col-md-12">
                        <input type="password" class="form-control input-md" placeholder="Mot de passe" ng-model="password" />
                    </div>
                </fieldset>
                <button>Se connecter</button>
                <h4><i class="glyphicon glyphicon-info-sign"></i></h4>
                <p class="info-text">
                    Vous ne connaissez pas vos identifiants?
                    L'autorisation de la plateforme se fait par mail,
                    vérifiez votre messagerie.
                </p>
            </div> 
        </div>
    </div>

</div>

<div class="col-md-9" >
    <div class="row">
        <div class="col-md-12 page">
            <h1>R.I.B</h1>
            <h2>Race to International Business</h2>
            <center><img src="images/markchamp_wide.png"/></center>
            <div class="col-md-12 descriptions">                    
                <div class="col-md-3">
                    <h4><i class="glyphicon glyphicon-education"></i></h4>
                    <h4>Intuitif</h4>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. 
                </div>
                <div class="col-md-3">
                    <h4><i class="glyphicon glyphicon-cloud"></i></h4>
                    <h4>En ligne</h4>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque.
                </div>
                <div class="col-md-3">
                    <h4><i class="glyphicon glyphicon-time"></i></h4>
                    <h4>Real-time</h4>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque.    
                </div>
                <div class="col-md-3">
                    <h4><i class="glyphicon glyphicon-usd"></i></h4>
                    <h4>Réaliste</h4>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque.
                </div>
            </div>
        </div>
    </div>
</div>

	
